

.container1{
    
    height: 20vh;
    width: 18vw;
    background-color: white;
    margin:20px;
    border-radius: 12px;
    position: relative;

}

.container1:hover{
    height: 30vh;
    width: 25vw;
    font-size:larger;
}

.container1 p{
    font-size: 12px;
    display: inline;
    margin:10px;
    color:#915ba8;
}

.container1 h3{
    color:#7d299b;
    margin:10px;
    padding-top: 15px;
}

/* .container1 .addPlayer{
    display: block;
    margin:10px;
    height:4vh;
    width:5vw;
    border:2px solid #a251c0;
} */
.container1 div{
    display: inline-block;
    margin:10px;
    height:30px;
    width:50px;
    border:2px solid #a251c0;
    position:absolute;
    bottom: 3px;
    right: 3px;
    border-radius: 25px;
    background-color: #9c63b1;
    cursor:pointer;
    

}


.container1 div p{
    display: inline;
    color: aliceblue;
}
